<nav class="navbar navbar-expand-lg  fixed-bottom bg-purple">
  <div class="container-fluid">
    <a class="navbar-brand padding-right white" href="/articles"><div>Sportive <span class="after"></span></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
            <li class="nav-item p-2">
                <%= link_to 'Privacy Policy', "", class: "nav-link active orange" %>
            </li>
            <li class="nav-item p-2">
                <%= link_to 'Terms & Conditions', "", class: "nav-link active orange" %>
            </li>
            <li class="nav-item p-2">
                Copy right 2014. All rights reserved
            </li>
        </ul>
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                Contact with us: 
            </li> 
            <li class="nav-item">
                <a class="nav-link orange"><i class="fab fa-facebook"></i></a> 
            </li> 
            <li class="nav-item" >
                <a class="nav-link orange"><i class="fab fa-twitter"></i></i></a> 
            </li>
            <li class="nav-item" >
                <a class="nav-link orange"><i class="fab fa-instagram"></i></a> 
            </li>
      </ul>
    </div>
  </div>
</nav> 
